@font-face {
    font-family: 'Mon Amour Two';
    src: url('MonAmourTwo-Medium.woff2') format('woff2'),
        url('MonAmourTwo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}