  /* Обнуляем стили и выставляем цвет основного шрифта в теле сайта */
  body{
  margin: 0;
  font-family: Tohoma, sans-serif;
  font-size: 16px;
  /* overflow: hidden;  Выравние текста по ширине экрана, устраниение горизонтального скролинга */
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  }


  /* Задаем единый стиль для заголовков всех часто употребляемых уровней */
  h1, h2, h3, h4, h5, h6 {
    color: #1b8867;
    font-family: arial;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 25px;
  }
  h3{
    font-size: 20px;
  }
  p {
    padding-left: 20px;
    color: #08241b;
    text-align: justify;
  }

  /* Форматирование тела, выравнивание. */
  main{
    max-width: 1020px;
    margin: 0 auto;
    padding: 5px;
    background-color: #ecf8f2; 
  }

  header img {
    max-width: 300px; 
    max-height: 170px; 
  }
  header{
  padding: 5px 100px 5px;
  background-color: #56f3aa;
  }

  .h1_glavnaya{
    text-align: center;
  }

  .h2_telo{
    text-align: center;
  }

  .youtube{
    padding: 5px;
    float: left;
    width: 500px;
  }
  .dzen{
    padding: 5px;
    float: left;
    width: 500px;
  }

  .content img{
    display: block;
    margin: auto;
    max-width: 250px; 
    max-height: 120px; 
  }

  /* Стилизуем футор сайта */
  .futer_class{
    background-color: #56f3aa;
    padding: 20px 100px 15px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    text-align: right;
  }
  footer{
    margin-top: auto;
  }