  /******************************************** Общие настройки сайта начало ************************************/

  /********************************************* Обнуляем стили *************************************************/
  *{
    box-sizing: border-box;
  }
  
  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
    /* text-decoration: underline; */
  }
  
  body{
    margin: 0;
    padding: 0;
    /* display: grid;
    justify-content: center;
    width: 1440px; */
  }
  
  
  /*********************************************** Стили для заголовков и пораграфа ******************************/
  h1, h2, h3, h4, h5, h6 {
      color: #652D90;
      font-family: roboto;
      padding: 0;
      margin: 0;
    }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 25px;
  }
  h3{
    font-size: 20px;
  }
  p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #08241b;
    text-align: justify;
  }
  
  /********************************************** Общие настройки сайта конец**************************************/
  
  
  /********************************************* Header beginning *************************************************/
  header{
    display: grid;
    /* justify-content: center; */
    /* max-width: 1440px;
    max-height: 98px;*/
  }
  .header_cont{
    display: grid;
    grid-template-columns: 1fr 6fr 5fr;
    justify-content: center;
    background-color: #EDD603;
    width: 100%;
    height: 100%;
    /* max-width: 1440px; */
    max-height: 98px;
    padding: 0 70px;
   
  }
  
  .logo_header {
    width: 70px;
    height: 70px;
    margin: 23px 0 14px 14px;
    transition: 1s transform;
  }

  .logo_header:hover {
    transform: rotate(360deg);
  }
  
  .h1_header{
    margin: 21px 0 0 30px;
    font-size: 48px;
    line-height: 56px;
    margin: 21px 0 21px 30px;
    font-family: 'Mon Amour Two', Medium, arial;
  }
                                   /************************* menu begining *************************/

  .nav__menu {
    margin: 28px 36px 28px auto;
  }

  .nav-menu__ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    height: 42px;
  }

  .nav-menu__ul a {
    text-decoration: none;
    color: #652D90;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: block;
    /* border-right: 1px solid #7b5227;
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    /* -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease; */
    padding: 9px 52px;
    border-radius: 10px;
  }

  .nav-menu__ul a:hover {
    background:#ffffff;
  }

  .nav-menu__ul li {
    float: left;
    position: relative;
    border-right: 1px solid #ccb803;
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;

  }

  /* .nav__menu__mobail {
    display: none;
  } */


                                   /**************************** menu end ***************************/
 

  /**************************************** Header end *************************************************************/
  
  /**************************************** Контент сайта начало ***************************************************/

  main {
    /* display: flex; */
    justify-content: center;
    display: grid;
    /* max-width: 1440px; */
  }

  .shop {
    /* display: flex;
    flex-wrap: wrap; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    /* grid-gap: 30px; */
    grid-auto-rows: minmax(auto, 405px);
    /* justify-content: center; */
    width: 100%;
    max-width: 1440px;
    padding-top: 31px;
  }

  .product {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-auto-rows: minmax(300px, 405px);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 20%);
    /* width: calc((100% - 3 * 80px)/ 4); */
    margin: 0px 30px 40px;
  }

  .product_img {
    display: grid;
    justify-content: center;
    padding: 10px;
    width: auto;
    max-width: 295px;
    height: 295px;
  }
  
  .product:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
  
  .content_h2{
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin: 10px 105px 38px 12px;
  }
  
  /****************************************************** Контент сайта конец *************************************/

  /******************************************** Форма обратной связи наччало **************************************/
  #contact__h1 {
    color: #000000;
    font-size: 36px;
    width: 90%;
    height: 42px;
    margin: 24px auto;
    text-align: center;
  }
 
  .contact {
    width: 100%;
    height: 700px;
    max-width: 600px;
    /* max-height: 900px; */
    margin: 51px 280px 51px 260px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    
  }

  .input {
    display: flex;
    outline: none;
    /* border-radius: 0; */
    border: none;
    /* border-bottom: 1px solid #737272; */
    flex-direction: column;
    color: #000000;
    padding: 10px;

  }


  .input::placeholder {
    color: #A39F9F
  }

  .input:focus {
    border-bottom: 2px solid #000000;
  }

  #input__name {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    height: 58px;
    /* margin: 25px auto; */
  }

  #input__text {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    height: 200px;
    /* outline: none; */
  }

  #radio__buttom {
    cursor: pointer;
  }

  .form__control {
    width: 90%;
    margin: 25px auto;
  }

  .form__radio-group {
    margin: 5px 0;
  }

  .checkbox {
    cursor: pointer;
  }

  .buttom {
    display: flex;
    justify-content: center;
  }

  .form__buttom {
    background: #EDD603;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    position: .2s opacity;
    position: absolute;
    width: 228px;
    height: 53px;
    cursor: pointer;

  }

  .form__control a {
    /* text-decoration: none; */
    font-family: roboto;
    color: #000;
    font-size: 14px;
    line-height: 16px;
    }
    
    .form__control a:hover {
      color: #EDD603;
    }

  /********************************************* Форма обратной связи конец ***************************************/

  /****************************************************** Футер начало ********************************************/
  
  footer {
    background-color: #535252;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    /* width: 1440px; */
}

.page_footer {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  /* justify-content: space-between;
   flex-wrap: wrap; */
  width: 1350px;
  margin: 25px 45px;
}

.nav {
    color: #fff;
    /* width: calc((100% - 3 * 50px)/ 4); */
}
  
  .logo_futer_2{
    font-size: 18px;
    line-height: 21px;
    color: #fff;
  }

  .heading_nav{
  font-family: 'Mon Amour Two', Medium, arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  padding-bottom: 16px; 
  }
  
  .footer_menu a {
  text-decoration: none;
  font-family: roboto;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  }
  
  .footer_menu a:hover {
    color: #EDD603;
  }

  /************************************************************* Footer end *************************************/

  /************************************************* Мобильная верстка сайта начало *****************************/

  @media screen and (max-width: 767px) and (min-width: 320px) {

    /****************************************** Мобилка для Хедера **********************************************/
    header{
    display: flex;
    justify-content: center;
  }
  .header_cont{
    /* background-color: #EDD603; */
    width: 100%;
    /* max-width: 1440px;
    height: 78px; */
    display: flex;
    justify-content: flex-start;
  }
  
  .logo_header{
    width: 40px;
    height: 40px;
    margin: 19px 0 19px 16px;
  }
  
  .h1_header{
    margin: 21px 0 0 30px;
    font-size: 24px;
    line-height: 28px;
    margin: 25px 37 25px 0;
  }

  /******************************************** Мобилка для теля сайта *******************************************/

  main {
    display: flex;
    justify-content: center;
  }

  .shop {
    padding-top: 33px;
  }

  .product {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 20%);
    width: calc((100% - 3 * 20px)/ 2);
    margin: 10px 14px 10px 16px;
  }
  
  .content_h2{
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: 6px 31px 11px 7px;
  }

  /********************************************* Мобилка для Футера ************************************************/



    .nav {
        display: flex;
        flex-direction: column;
        align-items: start;
        font-size: 18px;
        margin: 0 0 20px;
    }

    .page_footer {
        margin: 24px 16px 40px 16px;
    }

    .page-footer__block li {
        font-size: 14px;
    }

    .nav {
        width: calc(100% - 2px);
    }

}

/************************************************ menu mobail begining **********************************************/


@media screen and (max-width: 1080px) and (min-width: 320px) {
  .nav__menu {
    display: none;
}

.nav__menu__mobail {
  background-color: #EDD603;
  width: 100%;
  max-width: 1080px;
  mam-height: 98px;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .2) inset;
}

.nav-menu__mobail__ul {
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-top: 0;
  height: 42px;
}

.nav__menu__mobail__ul a {
  text-decoration: none;
  color: #652D90;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: block;
  padding: 13px 32px;
  border-radius: 10px;
}

.nav__menu__mobail__ul a:hover {
  background:#ffffff;
}

.nav__menu__mobail__ul li {
  float: left;
  position: relative;
  /* border-right: 1px solid #ccb803;
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  /* -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease; */

  }

  /* #contact__h1 {
  
    font-size: 24px;
    width: 60%;
    height: 36px;
  } */

  .contact {
    width: 100%;
    height: 700px;
    min-width: 270px;
    margin: 24px 10px;
  }
    

}
/*************************************************** menu mobail end ************************************************/

@media screen and (max-width: 400px) and (min-width: 320px) {
   #contact__h1 {
  
    font-size: 30px;
    width: 100%;
    height: 40px;
  }
}


@media screen and (max-width: 5080px) and (min-width: 1080px) {
  .nav__menu__mobail {
    display: none;
  }
}


